.documents {
  grid-column: center-start / center-end;
  margin-bottom: 15rem;

  display: grid;

  &__container {
    display: grid;
    grid-template-columns: repeat(
      8,
      [doc-start] minmax(min-content, 14rem) [doc-end]
    );
    padding: 1rem 5rem;
    grid-gap: 3rem;
  }

  &__heading {
    width: auto;
    margin-bottom: 2rem;
    border-bottom: 3px solid $color-primary;
  }

  &__download {
    grid-column: doc-start 1 / doc-end 6;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }

  &__category {
    grid-column: doc-start 7 / doc-end 8;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/-1;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    margin: 1rem 0;
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark-3;
    border-bottom: 1px dotted $color-grey-dark-1;
    transition: all 0.2s;

    &:hover {
      color: $color-primary-dark;
      font-weight: 400;
    }
  }

  &__btn {
    margin-top: 2rem;
  }
}

.document {
  display: grid;
  grid-template-columns: min-content 1fr;

  &__icon-pdf {
    fill: $color-primary;
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    grid-row: 1 / span 2;
  }

  &__text {
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__icon {
    margin-right: 2rem;
  }

  &__description {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
}
