.story {
  &__pictures {
    grid-column: full-start / col-end 4;
    background: linear-gradient(
        rgba($color-secondary-light, 0.5),
        rgba($color-secondary-dark, 0.5)
      ),
      url(../../../dist/assets/images/bg-story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__content {
    grid-column: col-start 5 / full-end;
    padding: 6rem 5vw;

    display: grid;
    align-content: center;
    justify-items: start;

    @media only screen and (max-width: $bp-medium) {
      h2 {
        font-size: 3rem;
      }
    }
  }

  &__text {
    font-style: 1.5rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 1.5rem;
    }
  }
}
